html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --primary-clr: #111729;
    --text-clr: #677489;
    --white-clr: #FFFFFF;
    --bg-clr: #F2F5F9;
    --section-width: 418px;
}
body {
    background: var(--bg-clr);
}
.card {
    width: 100%;
    max-width: 418px;
    overflow: hidden;
    margin: 124px auto;
    border-radius: 14px;
    background: var(--white-clr);
}
.card-top {
    position: relative;
}
.card-top img {
    width: 100%;
    height: 280px;
    max-width: 100%;
}
.card-top svg {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.card-title {
    font-size: 24px;
    line-height: 1.8rem;
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;
}
.card-middle,
.card-bottom {
    padding: 0 32px;
}
.card-middle {
    padding-bottom: 24px;
    border-bottom: 2px solid var(--bg-clr);
}
.card-text,
.author-job {
    color: var(--text-clr);
}
.card-text,
.author-info {
    font-size: 16px;
    line-height: 1.2rem;
    font-family: "Lato", sans-serif;
}
.card-author {
    gap: 12px;
    display: flex;
    margin: 24px 0;
    align-items: center;
}
.author-avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--bg-clr);
}
.author-name {
    font-weight: 600;
}
.author-job {
    font-size: 12px;
}